* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}


header {
    background: #f3e5d8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu-btn {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}


nav {
    display: none;
}


nav.ativo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: white;
    padding: 20px;
    gap: 15px;
}


nav a {
    text-decoration: none;
    color: black;
}


main {
    padding: 40px;
}